/*
--------- TUBORG NUL COLORS ---------
BLÅ = #093A82
PASTELGRØN = #BEE0D9
ORANGE = #FAC177
GRÅ = #9C9E9F
--------- TUBORG NUL COLORS SLUT ---------
*/


* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}




main {
    width: 100vw;
    display: grid;
    /*    grid-gap: 10px;*/
    grid-template-areas:
        "header"
        "splash"
        "sec2"
        "sec3"
        "sec4"
        "footer";
    grid-template-rows: 1fr;
    grid-auto-flow: dense;

}

nav {
    height: 80px;
    grid-area: header;
    background-color: #093A82;
}

#splash {
    height: 80vh;
    grid-area: splash;    
    background-image: url(splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;

    width: 100vw;
}

#sec2 {
    height: 700px;
    grid-area: sec2;
    background-color: #FAC177;
}

#sec3 {
    height: 700px;
    grid-area: sec3;
    background-color: #BEE0D9;   
}

#sec4 {
    height: 700px;
    grid-area: sec4;
    background-color: #FAC177;
}


footer {
    width: 100vw;
    height: 80px;
    grid-area: footer;
    background-color: #9C9E9F;
}