/*
--------- TUBORG NUL COLORS ---------
BLÅ = #093A82
PASTELGRØN = #BEE0D9
ORANGE = #FAC177
GRÅ = #9C9E9F
--------- TUBORG NUL COLORS SLUT ---------
*/


* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

p,
a {
    font-size: 1rem;
}

main {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header"
        "splash"
        "sec2"
        "sec3"
        "sec4"
        "footer";
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
}

nav {
    height: 80px;
    grid-area: header;
    background-color: #093A82;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

nav a {
    color: #fff;
    font-family: tuborg;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 20px;
    transition: .3s;
}

@font-face {
    font-family: 'tuborg';
    src: url('fonts/tuborgdk.woff') format('woff');
    src: url('fonts/tuborgserif-extrabold.woff2') format('woff2');
}


nav .logo {
    position: absolute;
    left: 0;
    font-family: tuborg;
    letter-spacing: 2px;
    font-size: 1.6rem;
}

nav .logo h1 {
    margin: 0;
}

nav a:hover {
    color: #FAC177;
}







/*---------- SPLASH SECTION ----------*/
#splash {
    height: 92vh;
    grid-area: splash;
    background-image: url(images/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    width: 100vw;
}

.splash_beskrivelse {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 16vw;
    top: 26vh;
    color: #fff;
    text-align: center;
}

.splash_beskrivelse h2 {
    margin: 20px 0 5px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.splash_beskrivelse p {
    margin-top: 5px;
    padding: 0 50px;
    text-shadow: 2px 1px 8px black;
}

.nul_splash {
    height: 80%;
}

/*---------- SPLASH SECTION ----------*/





/*---------- NUL SECTION ----------*/
#nul {
    height: 100vh;
    width: 100vw;
    grid-area: sec2;
    background-color: #FAC177;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}

#nul .col,
#smagen .col,
#idk .col {
    justify-self: center;
    align-self: center;
    max-width: 700px;
    padding: 30px 20px 50px 20px;
}

#nul .col h1,
#smagen .col h1,
#idk .col h1 {
    font-family: tuborg;
    font-size: 3.5rem;
    color: #093A82;
    margin-top: 0;
    margin-bottom: 10px;
}


#barchart {
    max-width: 600px;
    height: 320px;
}

/*
#chart {
    width: 100%;
    height: 100%;
}*/

#chart line {
    stroke: #555;
    stroke-width: .75;
}

#chart text {
    font-size: 6px;
    font-weight: 700;
}

#bars line {
    stroke-width: 20;
    stroke: #093A82;
    transition: .3s;
}

#bars line:hover {
    stroke: #0a4db2;
}

#nul .col:last-child p {
    position: absolute;
    background-color: #9C9E9F;
    color: white;
    padding: .3rem;
    margin: 0;
    display: none;

}

.hide {
    display: none;
}


/*---------- NUL SECTION ----------*/





/*---------- SMAGEN SECTION ----------*/
#smagen {
    height: 100vh;
    width: 100vw;
    grid-area: sec3;
    background-color: #BEE0D9;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}


/*---------- SMAGEN SECTION ----------*/








/*---------- IDK SECTION ----------*/
#idk {
    height: 100vh;
    width: 100vw;
    grid-area: sec4;
    background-color: #FAC177;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}


/*---------- IDK SECTION ----------*/







/*---------- FOOTER SECTION ----------*/
footer {
    width: 100vw;
    height: 80px;
    grid-area: footer;
    background-color: #9C9E9F;

    text-align: center;
}


/*---------- FOOTER SECTION ----------*/











.show_graph {
    animation-name: show_graph_kf;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes show_graph_kf {
    0% {
        opacity: 0%;
    }

    100%;

        {
        opacity: 100%;
    }
}

.show_text {
    animation-name: show_text_kf;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes show_text_kf {
    0% {
        opacity: 0%;
    }

    100%;

        {
        opacity: 100%;
    }
}

.show_pillars {
    animation-name: show_pillars_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes show_pillars_kf {
    0% {
        opacity: 0%;
        transform: translateY(10px);
        height: 0;
        filter: blur(100px);
        stroke-width: 0;
    }

    50% {
        filter: blur(100px);
        stroke-width: 0;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
        filter: blur(0);
        stroke-width: 20;
    }
}

















/*---------- MEDIA QUERIES ----------*/
@media screen and (max-width: 800px) {
    #desktop_menu {
        display: none;
    }

    .hidden {
        display: none;
    }

    #menu {
        height: 175px;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 60px;
        background-color: #093A82;
        z-index: 10;
        padding: 0;
        padding-top: 10px;
    }

    #menu ul {
        padding: 0;
        padding-top: 10px;
    }

    #menuknap {
        width: 25px;
        height: 25px;
        color: #fff;
        position: absolute;
        right: 20px;
        top: 23px;
        font-size: 1.6rem;
        margin: 0;
        cursor: default;
        z-index: 100;
    }

    .splash_beskrivelse {
        z-index: 0;
    }

    .logo {
        position: absolute;
        left: 0;
        font-family: tuborg;
        letter-spacing: 2px;
        font-size: 1.6rem;
        top: 16px;
    }


    #burgermenu #menu_container .logo h1 {
        margin: 0;
    }

    /*
    #burgermenu #menu_container #menu {
        display: none;
    }
*/
}




@media screen and (max-width: 700px) {
    .splash_beskrivelse {
        margin: 0 auto;
        height: 420px;
        width: 420px;
        left: 0;
        top: 10vh;
        position: relative;
    }

    #nul,
    #smagen,
    #idk {
        height: auto;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    #nul .col,
    #smagen .col,
    #idk .col {
        max-width: 90vw;
        padding: 30px 30px 50px 30px;
    }

    #nul .col:first-child {
        padding: 30px 30px 10px 30px;
    }

    #barchart {
        max-width: 420px;
        height: 250px;
        padding-right: 70px;
    }

    #chart text {
        font-size: 8px;
        font-weight: 700;
    }


    #smagen .col:first-child {
        order: 2;
    }

    #smagen .col:last-child {
        order: 1;
    }


}


@media screen and (max-width: 400px) {
    .splash_beskrivelse {
        margin: 0 auto;
        height: 320px;
        width: 320px;
        left: 0;
        top: 20vh;
        position: relative;
    }

    #barchart {
        max-width: 320px;
        height: 160px;
        padding-right: 100px;
    }

    #chart text {
        font-size: 8px;
        font-weight: 700;
    }

    #nul .col h1,
    #smagen .col h1,
    #idk .col h1 {
        font-size: 2.5rem;

    }

    nav .logo {
        font-size: 1.2rem;
    }
}




@media screen and (min-width: 800px) {
    #desktop_menu {
        height: 80px;
        grid-area: header;
        background-color: #093A82;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #burgermenu {
        display: none;
    }

    #menu {
        display: none;
    }
}
